$accent-color: #d7b399;
$secondary-color: #f9f6f1;
$accent-dark: #212121;
$dark: #000;
$light: #fff;
$main-font: "Montserrat", sans-serif;
$special-accent: #d84033;
$btn-bg: #cecece;
$input-color: #8D8D8D;
$footer-link-color: #cbcfd4;