@import "../vars";
.info {
  background-color: black;
  color: $light;
.info__inner {
  max-width: 590px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 70px;
  text-align: center;
}
.info__title {
  font-weight: 700px;
  font-size: 30px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  & span {
    font-weight: 200px;
  }
}
.info__title-text {
  font-size: 20px;
  text-decoration: unset;
  font-style: normal;
}
.info__txt {
  font-weight: 30px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}
.info__container {
  justify-content: center;
}
}